body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

section h2 {
    color: #333;
    margin-bottom: 10px;
}

section p {
    color: #666;
}


.inner-section {
    background-color: #e0e0e0;
    padding: 10px;
}


section h3 {
    color: #007bff;
}


section > p {
    font-style: italic;
}
